<?xml version="1.0" encoding="UTF-8"?>
<IntanRHX SampleRateHertz="30000" Type="ControllerRecordUSB3" Version="3.3.0">
    <GeneralConfig 
		AbsoluteThresholdMicroVolts="-70" 
		AbsoluteThresholdsEnabled="True" 
		AnalogOut1Channel="Off" 
		AnalogOut1LockToSelected="False" 
		AnalogOut1ThresholdEnabled="True" 
		AnalogOut1ThresholdMicroVolts="0" 
		AnalogOut2Channel="Off" 
		AnalogOut2ThresholdEnabled="True" 
		AnalogOut2ThresholdMicroVolts="0" 
		AnalogOut3Channel="Off" 
		AnalogOut3ThresholdEnabled="True" 
		AnalogOut3ThresholdMicroVolts="0" 
		AnalogOut4Channel="Off" 
		AnalogOut4ThresholdEnabled="True" 
		AnalogOut4ThresholdMicroVolts="0" 
		AnalogOut5Channel="Off" 
		AnalogOut5ThresholdEnabled="True" 
		AnalogOut5ThresholdMicroVolts="0" 
		AnalogOut6Channel="Off" 
		AnalogOut6ThresholdEnabled="True" 
		AnalogOut6ThresholdMicroVolts="0" 
		AnalogOut7Channel="Off" 
		AnalogOut7ThresholdEnabled="True" 
		AnalogOut7ThresholdMicroVolts="0" 
		AnalogOut8Channel="Off" 
		AnalogOut8ThresholdEnabled="True" 
		AnalogOut8ThresholdMicroVolts="0" 
		AnalogOutGainIndex="0" 
		AnalogOutHighpassFilterEnabled="False" 
		AnalogOutHighpassFilterFreqHertz="250" 
		AnalogOutNoiseSlicerIndex="0" 
		AnalogOutRefChannel="Hardware" 
		AnalogScaleVolts="1.0" 
		ArrangeBy="Channel" 
		ArtifactSuppressionEnabled="True" 
		ArtifactSuppressionThresholdMicroVolts="2500" 
		ArtifactsShown="True" 
		AudioEnabled="False" 
		AudioFilter="Wide" 
		AudioThresholdMicroVolts="0" 
		AudioVolume="50" 
		AuxScaleVolts="1.0" 
		BackgroundColor="#000000" 
		ClipWaveforms="False" 
		CreateNewDirectory="True" 
		DSPEnabled="True" 
		DesiredDSPCutoffFreqHertz="1" 
		DesiredImpedanceFreqHertz="1000" 
		DesiredLower3dBCutoffFreqHertz="1" 
		DesiredLowerBandwidthHertz="0.1" 
		DesiredUpperBandwidthHertz="7500" 
		DisplayDigitalTrigger="DIGITAL-IN-01" 
		DisplayLabelText="CustomName" 
		DisplaySettings="" 
		DisplayTriggerMode="False" 
		DisplayTriggerPolarity="Rising" 
		DisplayTriggerPosition="1/4" 
		ExternalFastSettleChannel="1" 
		ExternalFastSettleEnabled="False" 
		FileFormat="OneFilePerSignalType" 
		Filename.BaseFilename="intan_fps_test" 
		Filename.Path="/Users/zacharymckenzie/Documents" 
		FilterDisplay1="Wide" 
		FilterDisplay2="None" 
		FilterDisplay3="None" 
		FilterDisplay4="None" 
		HighScaleMicroVolts="500" 
		HighpassFilterCutoffFreqHertz="250" 
		HighpassFilterOrder="2" 
		HighpassFilterType="Bessel" 
		ISIBinSizeMilliseconds="5" 
		ISIChannel="A-000" 
		ISISaveCsvFile="True" 
		ISISaveMatFile="True" 
		ISISavePngFile="True" 
		ISITimeSpanMilliseconds="200" 
		ISIYAxisLog="False" 
		ImpedanceFilename.BaseFilename="" 
		ImpedanceFilename.Path="" 
		LabelWidth="Wide" 
		LowScaleMicroVolts="500" 
		LowpassFilterCutoffFreqHertz="250" 
		LowpassFilterOrder="2" 
		LowpassFilterType="Bessel" 
		LowpassWaveformDownsampleRate="1" 
		ManualFastSettleEnabled="False" 
		NegativeRelativeThreshold="True" 
		NewSaveFilePeriodMinutes="1" 
		NotchFilterFreqHertz="None" 
		Note1="" 
		Note2="" 
		Note3="" 
		PSTHBinSizeMilliseconds="5" 
		PSTHChannel="A-000" 
		PSTHDigitalTrigger="DIGITAL-IN-01" 
		PSTHMaxNumTrials="50" 
		PSTHPostTriggerSpanMilliseconds="500" 
		PSTHPreTriggerSpanMilliseconds="100" 
		PSTHSaveCsvFile="True" 
		PSTHSaveMatFile="True" 
		PSTHSavePngFile="True" 
		PSTHTriggerPolarity="Rising" 
		PlottingMode="Original" 
		PostTriggerBufferSeconds="1" 
		PreTriggerBufferSeconds="1" 
		RmsMultipleThreshold="4" 
		RollMode="False" 
		RunAfterJumpToPosition="False" 
		SaveAuxInWithAmplifierWaveforms="False" 
		SaveHighpassAmplifierWaveforms="False" 
		SaveLowpassAmplifierWaveforms="False" 
		SaveSpikeData="False" 
		SaveSpikeSnapshots="False" 
		SaveWidebandAmplifierWaveforms="True" 
		ShowAuxInputs="True" 
		ShowDisabledChannels="True" 
		ShowSupplyVoltages="False" 
		SpectrogramChannel="A-000" 
		SpectrogramDigitalDisplay="None" 
		SpectrogramDisplayMode="Spectrogram" 
		SpectrogramFFTSize="2048" 
		SpectrogramFreqMarkerHertz="60" 
		SpectrogramFreqMarkerNumHarmonics="0" 
		SpectrogramFreqMaxHertz="200" 
		SpectrogramFreqMinHertz="0" 
		SpectrogramSaveCsvFile="True" 
		SpectrogramSaveMatFile="True" 
		SpectrogramSavePngFile="True" 
		SpectrogramShowFreqMarker="True" 
		SpectrogramTimeScaleSeconds="5" 
		SpikeScopeChannel="A-000" 
		SpikeScopeNumSpikes="20" 
		SpikeScopeScaleMicroVolts="500" 
		SpikeScopeTimeScaleMilliseconds="2" 
		SpikeSnapshotPostDetectMilliseconds="2" 
		SpikeSnapshotPreDetectMilliseconds="-1" 
		TimeScaleMilliseconds="2000" 
		TriggerAnalogThresholdVolts="1.65" 
		TriggerPolarity="High" 
		TriggerSave="True" 
		TriggerSource="DIGITAL-IN-01" 
		UseMedianReference="False" 
		WideScaleMicroVolts="500" 
		WriteToDiskLatency="Highest" 
		TCPDataOutputChannels=""
	/>
    <SignalGroup 
		Prefix="A" 
		AuxDigOutChannel="0" 
		AuxDigOutEnabled="False" 
		ManualDelay="1" 
		ManualDelayEnabled="False">
        <Channel 
			NativeChannelName="A-000" 
			Color="#c04040" 
			CustomChannelName="A-000" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="A-001" 
			Color="#c08840" 
			CustomChannelName="A-001" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="A-002" 
			Color="#b0c040" 
			CustomChannelName="A-002" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="A-003" 
			Color="#68c040" 
			CustomChannelName="A-003" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="A-004" 
			Color="#40c060" 
			CustomChannelName="A-004" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="A-005" 
			Color="#40c0a8" 
			CustomChannelName="A-005" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="A-006" 
			Color="#4090c0" 
			CustomChannelName="A-006" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="A-007" 
			Color="#4048c0" 
			CustomChannelName="A-007" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="7"
		/>
        <Channel 
			NativeChannelName="A-008" 
			Color="#8040c0" 
			CustomChannelName="A-008" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="8"
		/>
        <Channel 
			NativeChannelName="A-009" 
			Color="#c040b8" 
			CustomChannelName="A-009" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="9"
		/>
        <Channel 
			NativeChannelName="A-010" 
			Color="#c04070" 
			CustomChannelName="A-010" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="10"
		/>
        <Channel 
			NativeChannelName="A-011" 
			Color="#c05840" 
			CustomChannelName="A-011" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="11"
		/>
        <Channel 
			NativeChannelName="A-012" 
			Color="#c0a040" 
			CustomChannelName="A-012" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="12"
		/>
        <Channel 
			NativeChannelName="A-013" 
			Color="#98c040" 
			CustomChannelName="A-013" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="13"
		/>
        <Channel 
			NativeChannelName="A-014" 
			Color="#50c040" 
			CustomChannelName="A-014" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="14"
		/>
        <Channel 
			NativeChannelName="A-015" 
			Color="#40c078" 
			CustomChannelName="A-015" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="15"
		/>
        <Channel 
			NativeChannelName="A-016" 
			Color="#40c0c0" 
			CustomChannelName="A-016" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="16"
		/>
        <Channel 
			NativeChannelName="A-017" 
			Color="#4078c0" 
			CustomChannelName="A-017" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="17"
		/>
        <Channel 
			NativeChannelName="A-018" 
			Color="#5040c0" 
			CustomChannelName="A-018" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="18"
		/>
        <Channel 
			NativeChannelName="A-019" 
			Color="#9840c0" 
			CustomChannelName="A-019" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="19"
		/>
        <Channel 
			NativeChannelName="A-020" 
			Color="#c040a0" 
			CustomChannelName="A-020" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="20"
		/>
        <Channel 
			NativeChannelName="A-021" 
			Color="#c04058" 
			CustomChannelName="A-021" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="21"
		/>
        <Channel 
			NativeChannelName="A-022" 
			Color="#c07040" 
			CustomChannelName="A-022" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="22"
		/>
        <Channel 
			NativeChannelName="A-023" 
			Color="#c0b840" 
			CustomChannelName="A-023" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="23"
		/>
        <Channel 
			NativeChannelName="A-024" 
			Color="#80c040" 
			CustomChannelName="A-024" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="24"
		/>
        <Channel 
			NativeChannelName="A-025" 
			Color="#40c048" 
			CustomChannelName="A-025" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="25"
		/>
        <Channel 
			NativeChannelName="A-026" 
			Color="#40c090" 
			CustomChannelName="A-026" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="26"
		/>
        <Channel 
			NativeChannelName="A-027" 
			Color="#40a8c0" 
			CustomChannelName="A-027" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="27"
		/>
        <Channel 
			NativeChannelName="A-028" 
			Color="#4060c0" 
			CustomChannelName="A-028" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="28"
		/>
        <Channel 
			NativeChannelName="A-029" 
			Color="#6840c0" 
			CustomChannelName="A-029" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="29"
		/>
        <Channel 
			NativeChannelName="A-030" 
			Color="#b040c0" 
			CustomChannelName="A-030" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="30"
		/>
        <Channel 
			NativeChannelName="A-031" 
			Color="#c04088" 
			CustomChannelName="A-031" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="31"
		/>
        <Channel 
			NativeChannelName="A-AUX1" 
			Color="#909020" 
			CustomChannelName="A-AUX1" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="32"
		/>
        <Channel 
			NativeChannelName="A-AUX2" 
			Color="#909020" 
			CustomChannelName="A-AUX2" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="33"
		/>
        <Channel 
			NativeChannelName="A-AUX3" 
			Color="#909020" 
			CustomChannelName="A-AUX3" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="34"
		/>
        <Channel 
			NativeChannelName="A-VDD1" 
			Color="#909020" 
			CustomChannelName="A-VDD1" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="35"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="B" 
		AuxDigOutChannel="0" 
		AuxDigOutEnabled="False" 
		ManualDelay="1" 
		ManualDelayEnabled="False">
        <Channel 
			NativeChannelName="B-000" 
			Color="#c04040" 
			CustomChannelName="B-000" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="B-001" 
			Color="#c08840" 
			CustomChannelName="B-001" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="B-002" 
			Color="#b0c040" 
			CustomChannelName="B-002" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="B-003" 
			Color="#68c040" 
			CustomChannelName="B-003" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="B-004" 
			Color="#40c060" 
			CustomChannelName="B-004" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="B-005" 
			Color="#40c0a8" 
			CustomChannelName="B-005" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="B-006" 
			Color="#4090c0" 
			CustomChannelName="B-006" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="B-007" 
			Color="#4048c0" 
			CustomChannelName="B-007" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="7"
		/>
        <Channel 
			NativeChannelName="B-008" 
			Color="#8040c0" 
			CustomChannelName="B-008" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="8"
		/>
        <Channel 
			NativeChannelName="B-009" 
			Color="#c040b8" 
			CustomChannelName="B-009" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="9"
		/>
        <Channel 
			NativeChannelName="B-010" 
			Color="#c04070" 
			CustomChannelName="B-010" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="10"
		/>
        <Channel 
			NativeChannelName="B-011" 
			Color="#c05840" 
			CustomChannelName="B-011" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="11"
		/>
        <Channel 
			NativeChannelName="B-012" 
			Color="#c0a040" 
			CustomChannelName="B-012" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="12"
		/>
        <Channel 
			NativeChannelName="B-013" 
			Color="#98c040" 
			CustomChannelName="B-013" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="13"
		/>
        <Channel 
			NativeChannelName="B-014" 
			Color="#50c040" 
			CustomChannelName="B-014" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="14"
		/>
        <Channel 
			NativeChannelName="B-015" 
			Color="#40c078" 
			CustomChannelName="B-015" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="15"
		/>
        <Channel 
			NativeChannelName="B-016" 
			Color="#40c0c0" 
			CustomChannelName="B-016" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="16"
		/>
        <Channel 
			NativeChannelName="B-017" 
			Color="#4078c0" 
			CustomChannelName="B-017" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="17"
		/>
        <Channel 
			NativeChannelName="B-018" 
			Color="#5040c0" 
			CustomChannelName="B-018" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="18"
		/>
        <Channel 
			NativeChannelName="B-019" 
			Color="#9840c0" 
			CustomChannelName="B-019" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="19"
		/>
        <Channel 
			NativeChannelName="B-020" 
			Color="#c040a0" 
			CustomChannelName="B-020" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="20"
		/>
        <Channel 
			NativeChannelName="B-021" 
			Color="#c04058" 
			CustomChannelName="B-021" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="21"
		/>
        <Channel 
			NativeChannelName="B-022" 
			Color="#c07040" 
			CustomChannelName="B-022" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="22"
		/>
        <Channel 
			NativeChannelName="B-023" 
			Color="#c0b840" 
			CustomChannelName="B-023" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="23"
		/>
        <Channel 
			NativeChannelName="B-024" 
			Color="#80c040" 
			CustomChannelName="B-024" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="24"
		/>
        <Channel 
			NativeChannelName="B-025" 
			Color="#40c048" 
			CustomChannelName="B-025" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="25"
		/>
        <Channel 
			NativeChannelName="B-026" 
			Color="#40c090" 
			CustomChannelName="B-026" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="26"
		/>
        <Channel 
			NativeChannelName="B-027" 
			Color="#40a8c0" 
			CustomChannelName="B-027" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="27"
		/>
        <Channel 
			NativeChannelName="B-028" 
			Color="#4060c0" 
			CustomChannelName="B-028" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="28"
		/>
        <Channel 
			NativeChannelName="B-029" 
			Color="#6840c0" 
			CustomChannelName="B-029" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="29"
		/>
        <Channel 
			NativeChannelName="B-030" 
			Color="#b040c0" 
			CustomChannelName="B-030" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="30"
		/>
        <Channel 
			NativeChannelName="B-031" 
			Color="#c04088" 
			CustomChannelName="B-031" 
			Enabled="True" 
			GroupID="0" 
			Reference="Hardware" 
			SpikeThresholdMicroVolts="-70" 
			UserOrder="31"
		/>
        <Channel 
			NativeChannelName="B-AUX1" 
			Color="#909020" 
			CustomChannelName="B-AUX1" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="32"
		/>
        <Channel 
			NativeChannelName="B-AUX2" 
			Color="#909020" 
			CustomChannelName="B-AUX2" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="33"
		/>
        <Channel 
			NativeChannelName="B-AUX3" 
			Color="#909020" 
			CustomChannelName="B-AUX3" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="34"
		/>
        <Channel 
			NativeChannelName="B-VDD1" 
			Color="#909020" 
			CustomChannelName="B-VDD1" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="35"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="ANALOG-IN">
        <Channel 
			NativeChannelName="ANALOG-IN-1" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-1" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-2" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-2" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-3" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-3" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-4" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-4" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-5" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-5" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-6" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-6" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-7" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-7" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="ANALOG-IN-8" 
			Color="#909020" 
			CustomChannelName="ANALOG-IN-8" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="7"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="DIGITAL-IN">
        <Channel 
			NativeChannelName="DIGITAL-IN-01" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-01" 
			Enabled="True" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-02" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-02" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-03" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-03" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-04" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-04" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-05" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-05" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-06" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-06" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-07" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-07" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-08" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-08" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="7"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-09" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-09" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="8"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-10" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-10" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="9"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-11" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-11" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="10"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-12" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-12" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="11"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-13" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-13" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="12"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-14" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-14" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="13"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-15" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-15" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="14"
		/>
        <Channel 
			NativeChannelName="DIGITAL-IN-16" 
			Color="#909020" 
			CustomChannelName="DIGITAL-IN-16" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="15"
		/>
    </SignalGroup>
    <SignalGroup 
		Prefix="DIGITAL-OUT">
        <Channel 
			NativeChannelName="DIGITAL-OUT-01" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-01" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="0"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-02" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-02" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="1"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-03" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-03" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="2"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-04" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-04" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="3"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-05" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-05" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="4"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-06" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-06" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="5"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-07" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-07" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="6"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-08" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-08" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="7"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-09" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-09" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="8"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-10" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-10" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="9"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-11" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-11" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="10"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-12" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-12" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="11"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-13" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-13" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="12"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-14" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-14" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="13"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-15" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-15" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="14"
		/>
        <Channel 
			NativeChannelName="DIGITAL-OUT-16" 
			Color="#909020" 
			CustomChannelName="DIGITAL-OUT-16" 
			Enabled="False" 
			GroupID="0" 
			UserOrder="15"
		/>
    </SignalGroup>
</IntanRHX>
