* When developing a new feature or fixing a bug, always write corresponding tests and run the tests to ensure the feature worked
* When adding tests, first read through the existing tests and try to fit new tests in the existing testing infrastructure
* If a new feature requires a new dependency, make sure to add it in the pyproject.toml
* Always make a contribution to the CHANGELOG file summarizing any changes
* Use typehints and numpy-style docstrings
