pynwb==1.4.0
tqdm==4.45.0
natsort==7.0.1
numpy==1.18.2
pandas==1.0.3
scipy==1.4.1
h5py==2.10.0
PyYAML==5.4
git+https://github.com/spikeinterface/spikeextractors@master
spikesorters==0.4.4
spiketoolkit==0.7.4
psutil==5.7.0
roiextractors==0.3.1
git+https://github.com/neuralensemble/python-neo@master
opencv-python==4.5.1.48
ndx-events==0.2.0
