dandi==0.39.6
pynwb==2.0.1
hdmf==3.2.1
tqdm==4.60.0
natsort==7.1.1
numpy==1.21.0
pandas==1.2.3
hdf5storage==0.1.18
scipy>=1.4.1
h5py>=2.10.0
PyYAML==5.4
jsonschema==3.2.0
psutil==5.8.0
lxml==4.6.5
opencv-python==4.5.1.48
spikeextractors==0.9.9
spikeinterface @ git+https://github.com/SpikeInterface/spikeinterface.git@12b7863684b705e3d0ae8165bb3009143c70530c
neo==0.10.2
roiextractors @ git+https://github.com/catalystneuro/roiextractors.git@c23e4a00324b381f2aad25d685e1cd68b588b563  # v0.4.7, pre-transpose fix
pyintan==0.3.0
pyopenephys==1.1.2
sonpy>=1.7.1
tiffile==2018.10.18
ndx-dandi-icephys>=0.4.0
pillow==9.1.1
