pynwb==1.5.1
tqdm==4.60.0
natsort==7.1.1
numpy==1.19.3
pandas==1.2.3
scipy==1.4.1
h5py==2.10.0
PyYAML==5.4
jsonschema==3.2.0
psutil==5.8.0
lxml==4.6.3
opencv-python==4.5.1.48
spikeextractors @ git+https://github.com/SpikeInterface/spikeextractors.git@master
spikesorters @ git+https://github.com/SpikeInterface/spikesorters.git@master
spiketoolkit @ git+https://github.com/SpikeInterface/spiketoolkit.git@master
neo @ git+https://github.com/NeuralEnsemble/python-neo.git@master
roiextractors==0.3.1
ndx-events==0.2.0