dandi==0.36.0
pynwb @ git+https://github.com/NeurodataWithoutBorders/pynwb@dev
hdmf==3.2.1
tqdm==4.60.0
natsort==7.1.1
numpy==1.21.0
pandas==1.2.3
hdf5storage==0.1.18
scipy>=1.4.1
h5py>=2.10.0
PyYAML==5.4
jsonschema==3.2.0
psutil==5.8.0
lxml==4.6.5
opencv-python==4.5.1.48
spikeextractors==0.9.9
spikeinterface==0.93.0
neo==0.10.0
roiextractors==0.4.0
pyintan==0.3.0
pyopenephys==1.1.2
sonpy>=1.7.1
tiffile==2018.10.18
nwbinspector==0.2.3
