dandi==0.39.6
pynwb==2.1.0
hdmf==3.3.2
tqdm==4.60.0
natsort==7.1.1
numpy==1.21.0;python_version<'3.8'
numpy==1.22.0;python_version>='3.8'
pandas==1.2.3
hdf5storage==0.1.18
scipy>=1.4.1
h5py>=2.10.0
PyYAML==5.4
jsonschema[format]==4.9.1
psutil==5.8.0
lxml==4.9.1
opencv-python==4.5.1.48
spikeextractors==0.9.10
spikeinterface @ git+https://github.com/SpikeInterface/spikeinterface.git@4346eff5706408435e8aa8345be22fdd452afa27
neo @ git+https://github.com/NeuralEnsemble/python-neo@master
roiextractors==0.4.18
pyintan==0.3.0
pyopenephys==1.1.2
sonpy>=1.7.1
tiffile==2018.10.18
ndx-dandi-icephys>=0.4.0
pillow==9.1.1
pyopenephys==1.1.2
scanimage-tiff-reader==1.4.1
pyedflib==0.1.30
dlc2nwb==0.2
