name: Build and Upload Docker Image of latest with YAML variable to GHCR

on:
  workflow_run:
    workflows: [build_and_upload_docker_image_latest_release]
    types: [completed]
  workflow_dispatch:
  push: # TODO: remove when once main

concurrency:  # Cancel previous workflows on the same pull request
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-image:
    name: Build and Upload Docker Image of latest with YAML variable to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push YAML variable image based on latest
        uses: docker/build-push-action@v5
        with:
          push: true  # Push is a shorthand for --output=type=registry
          tags: ghcr.io/catalystneuro/neuroconv:yaml_variable
          context: .
          file: dockerfiles/neuroconv_latest_yaml_variable
