name: Daily workflows

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"  # Daily at noon EST

jobs:

  run-daily-tests:
    uses: ./.github/workflows/testing.yml@main
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      S3_GIN_BUCKET: ${{ secrets.S3_GIN_BUCKET }}

  run-daily-doc-link-checks:
    uses: ./.github/workflows/test-external-links.yml@main

  notify:
    runs-on: ubuntu-latest
    needs: [run-daily-tests, run-daily-doc-link-checks]
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    steps:
    - uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465  # TSL
        username: ${{ secrets.MAIL_USERNAME }}
        password: ${{ secrets.MAIL_PASSWORD }}
        subject: NeuroConv Daily Failure
        to: ${{ secrets.DAILY_FAILURE_EMAIL_LIST }}  # add more with commas, no separation
        from: NeuroConv
        body: "The daily workflow for the NWB Inspector failed: please check status at https://github.com/./actions/workflows/dailies.yml"
