name: Live service testing
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      python-versions:
        description: 'List of Python versions to use in matrix, as JSON string'
        required: false
        type: string
        default: ${{ vars.ALL_PYTHON_VERSIONS }}
      os-versions:
        description: 'List of OS versions to use in matrix, as JSON string'
        required: false
        type: string
        default: ${{ vars.ALL_OS_VERSIONS }}

    secrets:
      DANDI_API_KEY:
        required: true

env:
  DANDI_API_KEY: ${{ secrets.DANDI_API_KEY }}

jobs:
  run:
    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
        os: ${{ fromJson(inputs.os-versions) }}
    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Global Setup
        run: |
          python -m pip install -U pip  # Official recommended way
          git config --global user.email "CI@example.com"
          git config --global user.name "CI Almighty"

      - name: Install full requirements
        run: pip install .[test,full]

      - name: Run subset of tests that use DANDI live services
        run: pytest -rsx -n auto tests/test_minimal/test_tools/dandi_transfer_tools.py
      - name: Run subset of tests that use Globus live services
        run: pytest -rsx -n auto tests/test_minimal/test_tools/globus_transfer_tools.py
