name: Live service testing
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      python-versions:
        description: 'List of Python versions to use in matrix, as JSON string'
        required: true
        type: string
      os-versions:
        description: 'List of OS versions to use in matrix, as JSON string'
        required: true
        type: string

    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      S3_GIN_BUCKET:
        required: true
      DANDI_API_KEY:
        required: true

env:
  DANDI_API_KEY: ${{ secrets.DANDI_API_KEY }}

jobs:
  run:
    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      # This avoids two tests within the matrix running at the same time
      max-parallel: 1
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
        os: ${{ fromJson(inputs.os-versions) }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Global Setup
        run: |
          python -m pip install -U pip  # Official recommended way

      - name: Install test requirements
        run: pip install ".[test,dandi,spikeglx,phy]"

      - name: Prepare data for tests
        uses: ./.github/actions/load-data
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          s3-gin-bucket: ${{ secrets.S3_GIN_BUCKET }}
          os: ${{ matrix.os }}

      - name: Run subset of tests that use DANDI live services
        run: pytest -rsx -n auto tests/remote_transfer_services/dandi_transfer_tools.py
      - name: Run subset of tests that use DANDI live services with YAML
        run: pytest -rsx -n auto tests/remote_transfer_services/yaml_dandi_transfer_tools.py
      - name: Run subset of tests that use Globus live services
        run: pytest -rsx -n auto tests/remote_transfer_services/globus_transfer_tools.py
