name: NeuroConv Docker CLI tests
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      S3_GIN_BUCKET:
        required: true

jobs:
  run:
    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest] #, macos-latest, windows-latest]  # Seems docker might only be available for ubuntu on GitHub Actions
    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Global Setup
        run: python -m pip install -U pip  # Official recommended way

      - name: Install pytest and neuroconv minimal
        run: |
          pip install pytest
          pip install .

      - name: Prepare data for tests
        uses: ./.github/actions/load-data
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          s3-gin-bucket: ${{ secrets.S3_GIN_BUCKET }}
          os: ${{ matrix.os }}

      - name: Pull docker image
        run: |
          docker pull ghcr.io/catalystneuro/neuroconv:latest
          docker pull ghcr.io/catalystneuro/neuroconv_yaml_variable:latest

      - name: Run docker tests
        run: pytest tests/remote_transfer_services/docker_yaml_conversion_specification_cli.py -vv -rsx
