name: Rclone Docker Tests
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      RCLONE_DRIVE_ACCESS_TOKEN:
        required: true
      RCLONE_DRIVE_REFRESH_TOKEN:
        required: true
      RCLONE_EXPIRY_TOKEN:
        required: true

jobs:
  run:
    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Global Setup
        run: python -m pip install -U pip  # Official recommended way

      - name: Install pytest and neuroconv minimal
        run: |
          pip install pytest
          pip install .

      - name: Pull docker image
        run: docker pull ghcr.io/catalystneuro/rclone_with_config:latest
      - name: Run docker tests
        run: pytest tests/docker_rclone_with_config_cli.py -vv -rsx
        env:
          RCLONE_DRIVE_ACCESS_TOKEN: ${{ secrets.RCLONE_DRIVE_ACCESS_TOKEN }}
          RCLONE_DRIVE_REFRESH_TOKEN: ${{ secrets.RCLONE_DRIVE_REFRESH_TOKEN }}
          RCLONE_EXPIRY_TOKEN: ${{ secrets.RCLONE_EXPIRY_TOKEN }}
