name: Updated Caches
on:
  schedule:
    - cron: "0 0 * * *"
jobs:
  run:
    name: Update cache on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          python-version: [3.7, 3.8, 3.9]
          os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: s-weigand/setup-conda@v1
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - if: ${{ matrix.os == 'ubuntu-latest' }}
        name: Get datalad - Linux
        run: conda install -c conda-forge datalad==0.14.5
      - if: ${{ matrix.os == 'macos-latest' }}
        name: Get git-annex and datalad - MacOS
        run: brew install git-annex
      - if: ${{ matrix.os == 'windows-latest' }}
        name: Get git-annex - Windows
        uses: crazy-max/ghaction-chocolatey@v1.6.0
        with:
          args: install git-annex --ignore-checksums
      - if: ${{ matrix.os == 'windows-latest' }}
        name: Get datalad - Windows
        run: pip install datalad==0.15.6

      - name: Setup Environment
        run: |
          pip install -U pip
          git config --global user.email "CI@example.com"
          git config --global user.name "CI Almighty"
        
      - name: Get ephy_testing_data current head hash
        id: ecephys
        run: echo "::set-output name=HASH_EPHY_DATASET::$(git ls-remote https://gin.g-node.org/NeuralEnsemble/ephy_testing_data.git HEAD | cut -f1)"
      - name: Cache ephys dataset - ${{ steps.ecephys.outputs.HASH_EPHYS_DATASET }}
        uses: actions/cache@v2
        id: cache-ecephys-datasets
        with:
          path: ./ephy_testing_data
          key: ecephys-datasets-040122-${{ matrix.os }}-${{ steps.ecephys.outputs.HASH_EPHY_DATASET }}
      - name: "Force GIN: ecephys download"
        if: steps.cache-ecephys-datasets.outputs.cache-hit == false
        run: |
          datalad install https://gin.g-node.org/NeuralEnsemble/ephy_testing_data
          cd ephy_testing_data
          datalad get -r ./neuralynx/Cheetah_v5.7.4/original_data/
          datalad get -r ./neuroscope/test1/
          datalad get -r ./openephysbinary/v0.4.4.1_with_video_tracking/
          datalad get -r ./blackrock/
          datalad get -r ./intan/
          datalad get -r ./spikegadgets/
          datalad get -r ./spikeglx/Noise4Sam_g0/Noise4Sam_g0_imec0/
          datalad get -r ./phy/phy_example_0/
          datalad get -r ./axona/
          datalad get -r ./cellexplorer/
          cd ..

      - name: Get ophys_testing_data current head hash
        id: ophys
        run: echo "::set-output name=HASH_OPHYS_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/ophys_testing_data.git HEAD | cut -f1)"
      - name: Cache ophys dataset - ${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}
        uses: actions/cache@v2
        id: cache-ophys-datasets
        with:
          path: ./ophys_testing_data
          key: ophys-datasets-040122-${{ matrix.os }}-${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}
      - name: "Force GIN: ophys download"
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/ophys_testing_data

      - name: Get behavior_testing_data current head hash
        id: behavior
        run: echo "::set-output name=HASH_BEHAVIOR_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/behavior_testing_data.git HEAD | cut -f1)"
      - name: Cache behavior dataset - ${{ steps.behavior.outputs.HASH_BEHAVIOR_DATASET }}
        uses: actions/cache@v2
        id: cache-behavior-datasets
        with:
          path: ./behavior_testing_data
          key: behavior-datasets-040122-${{ matrix.os }}-${{ steps.behavior.outputs.HASH_behavior_DATASET }}
      - name: "Force GIN: behavior download"
        if: steps.cache-behavior-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/behavior_testing_data
