name: Updated Caches and Upload to S3
on: push
  #schedule:
  #  - cron: "0 0 * * *"
jobs:
  run:
    name: Update cache and upload to S3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: s-weigand/setup-conda@v1
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Setup Environment
        run: |
          pip install -U pip
          git config --global user.email "CI@example.com"
          git config --global user.name "CI Almighty"

      - name: Get ophys_testing_data current head hash
        id: ophys
        run: echo "::set-output name=HASH_OPHYS_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/ophys_testing_data.git HEAD | cut -f1)"
      - name: Cache ophys dataset - ${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}
        uses: actions/cache@v2
        id: cache-ophys-datasets
        with:
          path: ./ophys_testing_data
          key: ophys-datasets-042022-ubuntu-latest-${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}

      - name: Get behavior_testing_data current head hash
        id: behavior
        run: echo "::set-output name=HASH_BEHAVIOR_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/behavior_testing_data.git HEAD | cut -f1)"
      - name: Cache behavior dataset - ${{ steps.behavior.outputs.HASH_BEHAVIOR_DATASET }}
        uses: actions/cache@v2
        id: cache-behavior-datasets
        with:
          path: ./behavior_testing_data
          key: behavior-datasets-042022-ubuntu-latest-${{ steps.behavior.outputs.HASH_behavior_DATASET }}



      - name: Install datalad if needed
        if: steps.cache-ephys-datasets.outputs.cache-hit == false || steps.cache-ophys-datasets.outputs.cache-hit == false || steps.cache-behavior-datasets.outputs.cache-hit == false
        run: conda install -c conda-forge datalad==0.16.3

      - name: "Force GIN: ophys download"
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/ophys_testing_data
      - name: Upload ophys dataset to S3
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: ./ophys_testing_data
          destination: ${{ secrets.S3_GIN_BUCKET }}/ophys_testing_data
          flags: "--recursive"
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-2

      - name: "Force GIN: behavior download"
        if: steps.cache-behavior-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/behavior_testing_data
      - name: Upload behavior dataset to S3
        #if: steps.cache-behavior-datasets.outputs.cache-hit == false
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: sync
          source: behavior_testing_data
          destination: ${{ secrets.S3_GIN_BUCKET }}/behavior_testing_data
          flags: --exclude "*.*" --exclude "/.*" --exclude ".*"
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-2
