name: Update S3 Testing Data
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run:
    name: Update S3 Testing Data
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: s-weigand/setup-conda@v1
      - uses: actions/checkout@v3
      - run: git fetch --prune --unshallow --tags
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Setup Environment
        run: |
          pip install -U pip
          git config --global user.email "CI@example.com"
          git config --global user.name "CI Almighty"



      - name: Get ephys_testing_data current head hash
        id: ephys
        run: echo "::set-output name=HASH_EPHY_DATASET::$(git ls-remote https://gin.g-node.org/NeuralEnsemble/ephy_testing_data.git HEAD | cut -f1)"
      - name: Cache ephys dataset - ${{ steps.ephys.outputs.HASH_EPHY_DATASET }}
        uses: actions/cache@v2
        id: cache-ephys-datasets
        with:
          path: ./ephy_testing_data
          key: ephys-datasets-081922-ubuntu-latest-${{ steps.ephys.outputs.HASH_EPHY_DATASET }}

      - name: Get ophys_testing_data current head hash
        id: ophys
        run: echo "::set-output name=HASH_OPHYS_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/ophys_testing_data.git HEAD | cut -f1)"
      - name: Cache ophys dataset - ${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}
        uses: actions/cache@v2
        id: cache-ophys-datasets
        with:
          path: ./ophys_testing_data
          key: ophys-datasets-042022-ubuntu-latest-${{ steps.ophys.outputs.HASH_OPHYS_DATASET }}

      - name: Get behavior_testing_data current head hash
        id: behavior
        run: echo "::set-output name=HASH_BEHAVIOR_DATASET::$(git ls-remote https://gin.g-node.org/CatalystNeuro/behavior_testing_data.git HEAD | cut -f1)"
      - name: Cache behavior dataset - ${{ steps.behavior.outputs.HASH_BEHAVIOR_DATASET }}
        uses: actions/cache@v2
        id: cache-behavior-datasets
        with:
          path: ./behavior_testing_data
          key: behavior-datasets-042022-ubuntu-latest-${{ steps.behavior.outputs.HASH_behavior_DATASET }}



      - name: Install datalad if needed
        if: steps.cache-ephys-datasets.outputs.cache-hit == false || steps.cache-ophys-datasets.outputs.cache-hit == false || steps.cache-behavior-datasets.outputs.cache-hit == false
        run: conda install -c conda-forge datalad==0.16.3

      - name: "Force GIN: ephys download"
        if: steps.cache-ephys-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/NeuralEnsemble/ephy_testing_data
      - name: Cleanup unneeded files to minimize AWS billing
        if: steps.cache-ephys-datasets.outputs.cache-hit == false
        run: |
          chmod -R +w ./ephy_testing_data/
          rm -rf ./ephy_testing_data/.git/
          rm -rf ./ephy_testing_data/.gitattributes
          rm -rf ./ephy_testing_data/.gitignore
          rm -rf ./ephy_testing_data/config.yml
          rm -rf ./ephy_testing_data/datacite.yml
          rm -rf ./ephy_testing_data/LICENSE
          rm -rf ./ephy_testing_data/README.md
          rm -rf ./ephy_testing_data/utils.py
      - name: Upload ephys dataset to S3
        if: steps.cache-ephys-datasets.outputs.cache-hit == false
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: sync
          source: ./ephy_testing_data
          destination: ${{ secrets.S3_GIN_BUCKET }}/ephy_testing_data
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-2

      - name: "Force GIN: ophys download"
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/ophys_testing_data
      - name: Cleanup unneeded files to minimize AWS billing
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        run: |
          chmod -R +w ./ophys_testing_data/
          rm -rf ./ophys_testing_data/.datalad/
          rm -rf ./ophys_testing_data/.git/
          rm -rf ./ophys_testing_data/.gitattributes
          rm -rf ./ophys_testing_data/.gitignore
          rm -rf ./ophys_testing_data/README.md
      - name: Upload ophys dataset to S3
        if: steps.cache-ophys-datasets.outputs.cache-hit == false
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: sync
          source: ./ophys_testing_data
          destination: ${{ secrets.S3_GIN_BUCKET }}/ophys_testing_data
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-2

      - name: "Force GIN: behavior download"
        if: steps.cache-behavior-datasets.outputs.cache-hit == false
        run: datalad install -rg https://gin.g-node.org/CatalystNeuro/behavior_testing_data
      - name: Cleanup unneeded files to minimize AWS billing
        if: steps.cache-behavior-datasets.outputs.cache-hit == false
        run: |
          chmod -R +w ./behavior_testing_data/
          rm -rf ./behavior_testing_data/.datalad/
          rm -rf ./behavior_testing_data/.git/
          rm -rf ./behavior_testing_data/.gitattributes
          rm -rf ./behavior_testing_data/.gitignore
          rm -rf ./behavior_testing_data/README.md
      - name: Upload behavior dataset to S3
        if: steps.cache-behavior-datasets.outputs.cache-hit == false
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: sync
          source: ./behavior_testing_data
          destination: ${{ secrets.S3_GIN_BUCKET }}/behavior_testing_data
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-2
